/* Color Palette
#041B15 dark bluegreen
#136F63 greyblue
#22AAA1 blue
#4CE0D2 blue grey
#84CAE7 grey
-----------*/


/* Global styles 
--------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    /* background: #041B15; */
}
h1, h2 {
    font-family: 'Caveat', cursive;
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 40px;
    margin: 0;
}
.content-wraper {
    width: 1000px;
    margin: 0 auto;
    padding: 5px;
    padding-top: 50px;
    overflow: hidden;
}

.btn {
    text-decoration: none;
    background: red;
    color: white;
    padding: 10px;
    display: inline-block;
   
}

/* Header and footer
-------------------------*/
header, footer {
    background: #041B15;   
}

/* Header */

/* Navigation */

nav {
    background: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}

nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color:#4CE0D2;
}

.profileImg {
    width: 300px;
    border-radius: 50%;
}
header {
    padding-top: 25px;
    text-align: center;
    position: relative;
}
header h1 {
    color: #4CE0D2;
    margin: 0;
}
header h3 {
    color: #22AAA1; 
}
.download {
    position: absolute;
    bottom: 0;
    right: 0;
}


/* Summary
-------------------------*/
.summary {
    background: #136F63; 
}


/* Experience 
-------------------------*/
.experience {
    background: #22AAA1; 
}
.experience a {
    color: black;
}

/* Education
-------------------------*/
.education {
    background: #4CE0D2; 
}

/* Footer */
footer h4 {
    color: #22AAA1; 
}
footer h2, h4, h6 {
    text-align: center;
}
/* Additional Informtion
-------------------------*/
.addinfo {
    background: #84CAE7; 
}
.social a { 
    color:  #22AAA1;
}

/*Media Queries
------------------------*/

@media (max-width: 900px) {
    header {
        text-align: center;
    }
    .profileImg {
       width: 200px; 
    }
}







